<h1>New lol entry</h1>
 
 
<%= form_with scope: :lol, url: lols_path, local: true do |entry| %>
  <p>
    <%= entry.label :text %><br>
    <%= entry.text_area :text %>
  </p>
  
  <p>
    <%= entry.submit %>
  </p>
<% end %>
<%= link_to 'Отмена', projects_index_path %>
